*{
    margin: 2px;
    padding: 3px;
}

body{
    background-color:rgb(182, 240, 124);
}

.generate{
    background-color:rgb(64, 238, 209);
    color:rgb(216, 6, 135);
    font-weight: 1000;
    padding : 1em;
    margin:0.1m;
    cursor: pointer;
    border-radius:50px;
    transition: transform 0.4s ease, background-color 0.4s ease, color 0.2s ease-in;
}

.generate:hover{
    transform: scale(1.1) skew(5deg);
    background-color:rgb(216, 6, 135);
    color:rgb(64, 238, 209);
}

.div{
    margin: 50px 450px;
    text-align: center;
    border: 4px solid #000;
}

#qrcode{
    display: none;
}