* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(182, 240, 124);
}

.generate {
  background-color: rgb(64, 238, 209);
  color: rgb(216, 6, 135);
  font-weight: 1000;
  padding: 1em;
  margin: 0.1m;
  cursor: pointer;
  border-radius: 50px;
  transition: transform 0.4s ease, background-color 0.4s ease,
    color 0.2s ease-in;
}

.generate:hover {
  transform: scale(1.1) skew(5deg);
  background-color: rgb(216, 6, 135);
  color: rgb(64, 238, 209);
}

.div {
  margin: 50px 450px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  padding: 10px;
  text-align: center;
  border: 4px solid #000;
}

#qrcode,
#paragraph {
  display: none;
}

.website {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.website .Youtube {
  padding-top: 15px;
  padding-bottom: 15px;
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .div {
    margin: 50px 250px;
    padding: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .div {
    margin: 30px 185px;
    padding: 30px;
  }
}

@media screen and (min-width: 690px) and (max-width: 767px) {
  .div {
    margin: 20px 170px;
    padding: 30px;
  }
}

@media screen and (min-width: 650px) and (max-width: 689px) {
  .div {
    margin: 20px 150px;
    padding: 30px;
  }
}

@media screen and (min-width: 490px) and (max-width: 649px) {
  .div {
    margin: 20px 50px;
    padding: 30px;
  }
}

@media screen and (min-width: 400px) and (max-width: 489px) {
  .div {
    margin: 20px 30px;
    padding: 30px;
  }
}

@media screen and (max-width: 399px) {
  .div {
    margin: 20px 10px;
    padding: 40px;
  }
}
